@model ChannelViewModel
@{
    ViewData["Title"] = $"{Model.Channel.Guild.Name} - #{Model.Channel.Name}";
}

<div class="text-center">
    @Html.Partial("_GuildLargeIconPartial", Model.Channel.Guild)
    <hgroup>
        <h1><a asp-area="" asp-controller="Guild" asp-action="Inspect" asp-route-id="@Model.Channel.Guild.Id">@Model.Channel.Guild.Name</a></h1>
        <h2>#@Model.Channel.Name</h2>
    </hgroup>
</div>


<div class="py-2"></div>

<p><a asp-action="Subscribe" asp-route-id="@Model.Channel.Id">Subscribe to a feed.</a></p>

<div class="py-2"></div>

@if (Model.Channel.Subscriptions != null && Model.Channel.Subscriptions.Count > 0)
{
    <h3>Subscriptions</h3>
    <table class="table table-striped table-dark">
        <tbody>
            @foreach (var sub in Model.Channel.Subscriptions.OrderBy(e => e.Source.Name))
            {
                <tr>
                    <td><a asp-area="" asp-controller="Source" asp-action="Inspect" asp-route-id="@sub.Source.Id">@sub.Source.Name</a></td>
                    <td>
                        <form asp-action="Unsubscribe" asp-route-id="@sub.Id" method="post">
                            <button type="submit" class="btn btn-link text-danger">Unsubscribe</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts
{
    @Html.Partial("_ValidationScriptsPartial")
}