@model Guild

@{
    ViewData["Title"] = Model.Name;
}

@if (Model.IconUrl != null)
{
    <img src="@Model.IconUrl" width="128" height="128" alt="" class="rounded-circle" />
}
else
{
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAA1BMVEVyidp8SJksAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" width="128" height="128" alt="" class="rounded-circle" />
}

<h1>@Model.Name</h1>

@if (Model.IsAdministrator)
{
    @if (!Model.BotConnected)
    {
        <p>The Newsblast bot is not connected to @Model.Name. You need to <a asp-area="" asp-controller="Bot" asp-action="Connect" asp-route-guildId="@Model.Id">connect the bot</a> to use Newsblast on @Model.Name.</p>
    }
    else
    {
        <p>The Newsblast bot is connected to @Model.Name.</p>
        <h2>Channels</h2>
        <table class="table table-striped">
            <tbody>
                @foreach (var channel in Model.Channels)
                {
                    <tr>
                        <td><a asp-area="" asp-controller="Channel" asp-action="Index" asp-route-id="@channel.Id">#@channel.Name</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <p>Only server administrators can add or manage the Newsblast bot for their server.</p>
}